@font-face{font-family:"Roboto";font-style:'normal';font-weight:400;src:url(Roboto-Regular.ttf)}@font-face{font-family:"Roboto";font-style:'normal';font-weight:700;src:url(Roboto-Bold.ttf)}.x-header_v2-medical{font-family:'Roboto';width:100%;display:flex;flex-direction:column;padding:10px 20px 0}.x-header_v2-medical p{margin-bottom:0}.x-header_v2-medical .header_top{text-align:right;font-size:12px;color:#747373;padding:5px 0}.x-header_v2-medical .header_center{border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb;padding:10px 0;display:flex;align-items:center}.x-header_v2-medical .header_center .left{width:65%;display:flex;align-items:center}.x-header_v2-medical .header_center .left a{text-decoration:none;color:#747373;font-size:40px;letter-spacing:-2px;margin-left:10px}@media only screen and (max-width:540px){.x-header_v2-medical .header_center .left a{font-size:30px}}.x-header_v2-medical .header_center .left img{max-width:200px;width:100%}@media only screen and (max-width:900px){.x-header_v2-medical .header_center .left img{max-width:150px}}@media only screen and (max-width:450px){.x-header_v2-medical .header_center .left img{max-width:100px}}@media only screen and (max-width:768px){.x-header_v2-medical .header_center .left{width:100%}}.x-header_v2-medical .header_center .right{width:35%;font-size:11px}.x-header_v2-medical .header_center .right .header_fb{display:flex;justify-content:flex-end}.x-header_v2-medical .header_center .right .header_fb a{position:relative;bottom:-16px;color:#333;text-decoration:none;display:flex;align-items:center}.x-header_v2-medical .header_center .right .header_fb a .fb_icon_left{background-image:url(fblikel.png);background-repeat:no-repeat;width:25px;height:26px}.x-header_v2-medical .header_center .right .header_fb a .fb_icon_center{background-image:url(fblikem.png);height:26px;display:flex;align-items:center;color:#3b5998}.x-header_v2-medical .header_center .right .header_fb a .fb_icon_right{width:33px;height:26px;background-image:url(fbliker.png);background-repeat:no-repeat}@media only screen and (max-width:900px){.x-header_v2-medical .header_center .right{display:none}}.x-header_v2-medical .header_bottom{padding:10px 0}.x-header_v2-medical .header_bottom .header_nav{background:#00bcd4;font-size:14px;display:flex}.x-header_v2-medical .header_bottom .header_nav .header_link{margin:5px 0;padding:0 10px;color:#fff;text-decoration:none;letter-spacing:.5px;border-right:1px solid #00626e}.x-header_v2-medical .header_bottom .header_nav .header_link:last-child{border-right:none}.x-header_v2-medical .header_bottom .header_nav .header_link:hover{color:#ebebeb}.x-header_v2-medical .header_bottom .header_nav.turquoise{background:#00bcd4}.x-header_v2-medical .header_bottom .header_nav.turquoise .header_link{border-right:1px solid #00626e}.x-header_v2-medical .header_bottom .header_nav.blue{background:#1b478a}.x-header_v2-medical .header_bottom .header_nav.blue .header_link{border-right:1px solid #0a1b35}.x-header_v2-medical .header_bottom .header_nav.pink{background:#ff8096}.x-header_v2-medical .header_bottom .header_nav.pink .header_link{border-right:1px solid #ff1a42}.x-header_v2-medical .header_bottom .header_nav.potency{background:#015b6b}.x-header_v2-medical .header_bottom .header_nav.potency .header_link{border-right:1px solid #000506}.x-header_v2-medical .header_bottom .header_nav.green{background:#008736}.x-header_v2-medical .header_bottom .header_nav.green .header_link{border-right:1px solid #00210d}.x-header_v2-medical .header_bottom .header_nav.darkGreen{background:#216353}.x-header_v2-medical .header_bottom .header_nav.darkGreen .header_link{border-right:1px solid #081713}.x-header_v2-medical .header_bottom .header_nav.orange{background:#f39629}.x-header_v2-medical .header_bottom .header_nav.orange .header_link{border-right:1px solid #ac610a}.x-header_v2-medical .header_bottom .header_social{display:flex;justify-content:flex-end}.x-header_v2-medical .header_bottom .header_social.none{display:none}.x-header_v2-medical .header_bottom .header_social .social_mail{background-image:url(print.png);background-repeat:no-repeat;width:48px;height:17px;margin-top:10px}.x-header_v2-medical .header_bottom .header_social .social_info{background-image:url(sb.png);background-repeat:no-repeat;width:322px;height:36px}@media only screen and (max-width:900px){.x-header_v2-medical .header_bottom{display:none}}@media only screen and (min-width:769px){.x-header_v2-medical.hide-desktop{display:none}}@media only screen and (max-width:768px){.x-header_v2-medical.hide-mobile{display:none}}@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
.x-h2-medical {
  font-family: 'Roboto';
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin: 20px 0;
  padding: 5px 20px;
}
.x-h2-medical.left {
  text-align: left;
}
.x-h2-medical.right {
  text-align: right;
}
.x-h2-medical.center {
  text-align: center;
}
.x-h2-medical.justify {
  text-align: justify;
}
/* Ukrycie komponentu w trybie mobile lub desktop */
@media only screen and (min-width: 769px) {
  .x-h2-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-h2-medical.hide-mobile {
    display: none;
  }
}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(Roboto-Regular.ttf)}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(Roboto-Bold.ttf)}.x-image-medical{font-family:'Roboto';margin:10px 20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.x-image-medical.position-left{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.x-image-medical.position-right{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.x-image-medical.position-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.x-image-medical.bcg-lightgrey{background-color:#EBEBEB}.x-image-medical .image-img{max-width:100%;width:auto;padding:0 20px}.x-image-medical div.title-container{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.x-image-medical div.title-container p{width:100%;display:block;font-family:'Georgia';font-size:14px;padding:5px;color:#3d3d3d}.x-image-medical div.text-container p{width:100%;display:block;font-size:14px;text-align:inherit;background-color:#ddd;margin:0 20px;padding:0 5px}.x-image-medical div{text-align:left;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex}.x-image-medical.right div{text-align:right}.x-image-medical.right div.title-container{text-align:right}.x-image-medical.right div.text-container{text-align:right}@media only screen and (max-width:768px){.x-image-medical{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.x-image-medical .image-img{max-width:100%;width:auto}.x-image-medical .image-img.max-width{width:100%;max-width:none}.x-image-medical div.text-container{-webkit-box-pack:center !important;-ms-flex-pack:center !important;justify-content:center !important}.x-image-medical div.text-container p{font-style:normal;display:inline-block;background-color:#ffc000;font-size:24px;font-weight:700;padding:15px;margin:-20px 20px 0}}@media only screen and (min-width:769px){.x-image-medical.hide-desktop{display:none}}@media only screen and (max-width:768px){.x-image-medical.hide-mobile{display:none}}@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
.x-h6-medical {
  font-family: 'Roboto';
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
  margin: 20px 0;
  padding: 5px 20px;
}
.x-h6-medical.left {
  text-align: left;
}
.x-h6-medical.right {
  text-align: right;
}
.x-h6-medical.center {
  text-align: center;
}
.x-h6-medical.justify {
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .x-h6-medical {
    font-size: 18px;
    line-height: 28px;
  }
}
/* Ukrycie komponentu w trybie mobile lub desktop */
@media only screen and (min-width: 769px) {
  .x-h6-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-h6-medical.hide-mobile {
    display: none;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
.x-p-medical {
  font-family: 'Roboto';
  color: #1e1e1e;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
  margin: 20px;
}
.x-p-medical.left {
  text-align: left;
}
.x-p-medical.right {
  text-align: right;
}
.x-p-medical.center {
  text-align: center;
}
.x-p-medical.justify {
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .x-p-medical {
    font-size: 16px;
    line-height: 24px;
  }
}
/* Ukrycie komponentu w trybie mobile lub desktop */
@media only screen and (min-width: 769px) {
  .x-p-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-p-medical.hide-mobile {
    display: none;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
.x-h4-medical {
  font-family: 'Roboto';
  color: #000;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.4em;
  text-align: left;
  margin: 20px 0;
  padding: 5px 20px;
}
.x-h4-medical.left {
  text-align: left;
}
.x-h4-medical.right {
  text-align: right;
}
.x-h4-medical.center {
  text-align: center;
}
.x-h4-medical.justify {
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .x-h4-medical {
    font-size: 22px;
  }
}
/* Ukrycie komponentu w trybie mobile lub desktop */
@media only screen and (min-width: 769px) {
  .x-h4-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-h4-medical.hide-mobile {
    display: none;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
.x-h5-medical {
  font-family: 'Roboto';
  color: #000;
  font-size: 22px;
  line-height: 1.4em;
  text-align: left;
  margin: 20px 0;
  padding: 5px 20px;
}
.x-h5-medical.left {
  text-align: left;
}
.x-h5-medical.right {
  text-align: right;
}
.x-h5-medical.center {
  text-align: center;
}
.x-h5-medical.justify {
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .x-h5-medical {
    line-height: 28px;
  }
}
/* Ukrycie komponentu w trybie mobile lub desktop */
@media only screen and (min-width: 769px) {
  .x-h5-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-h5-medical.hide-mobile {
    display: none;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
.x-CTA-medical .cta {
  font-family: 'Roboto';
  color: #0000ff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4em;
  text-decoration: underline;
}
.x-CTA-medical .cta p {
  padding: 0 20px;
}
.x-CTA-medical .cta_mobile {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: #fff;
  border-top: 2px solid #0000ff;
  display: none;
  z-index: 1;
}
.x-CTA-medical .cta_mobile p {
  padding: 0;
}
/* Ukrycie komponentu w trybie mobile lub desktop */
@media only screen and (min-width: 769px) {
  .x-CTA-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-CTA-medical.hide-mobile {
    display: none;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(Roboto-Black.ttf);
}
.x-weather-medical {
  width: auto;
  margin: 0 20px 20px;
  font-family: "Roboto";
}
.x-weather-medical .weather_title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 7px 12px;
  text-align: center;
}
.x-weather-medical .weather_title time {
  font-weight: 700;
}
.x-weather-medical .weather_title span {
  display: inline-block;
  width: 1px;
  min-width: 1px;
  background-color: rgba(255, 255, 255, 0.7);
}
.x-weather-medical .weather_title.weather_title_today span {
  height: 12px;
  margin: 0 7px;
}
.x-weather-medical .weather_title.weather_title_future {
  font-size: 14px;
  flex-direction: column;
  padding: 5px 2px;
}
.x-weather-medical .weather_title.weather_title_future span {
  display: none;
}
.x-weather-medical .weather_title.weather_title_future time {
  font-size: 13px;
  font-weight: 900;
}
.x-weather-medical .actual_weather {
  width: 100%;
}
.x-weather-medical .actual_weather .weather_today {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.x-weather-medical .actual_weather .weather_today_main {
  display: flex;
  flex-direction: column;
}
.x-weather-medical .actual_weather .weather_today_main .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.x-weather-medical .actual_weather .weather_today_main .top .top_img_wrapper {
  max-width: 62px;
}
.x-weather-medical .actual_weather .weather_today_main .top .top_img_wrapper img {
  width: 100%;
}
.x-weather-medical .actual_weather .weather_today_main .top .top_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  padding-left: 12px;
}
.x-weather-medical .actual_weather .weather_today_main .top .top_content p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.x-weather-medical .actual_weather .weather_today_main .top .top_content .content_wind_speed,
.x-weather-medical .actual_weather .weather_today_main .top .top_content .content_pressure {
  font-size: 16px;
  letter-spacing: .2px;
}
.x-weather-medical .actual_weather .weather_today_main .top .top_content .content_wind_speed {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.x-weather-medical .actual_weather .weather_today_main .top .top_content .content_wind_speed::before {
  content: '';
  background-image: url(wind.png);
  background-size: cover;
  width: 27px;
  height: 19px;
  min-width: 27px;
  min-height: 19px;
  margin-right: 5px;
}
.x-weather-medical .actual_weather .weather_today_main .top .top_content .content_temp {
  font-size: 40px;
  font-weight: 900;
  line-height: 42px;
}
.x-weather-medical .actual_weather .weather_today_main .top .top_content .content_temp img {
  display: none;
}
.x-weather-medical .actual_weather .weather_today_main .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: rgba(41, 73, 98, 0.7);
  padding: 7px 10px;
}
.x-weather-medical .actual_weather .weather_today_main .bottom .bottom_temp_feel {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.x-weather-medical .actual_weather .weather_today_main .bottom .bottom_temp_feel p {
  font-size: 10px;
}
.x-weather-medical .actual_weather .weather_today_main .bottom .bottom_temp_feel span {
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  margin-left: 6px;
}
.x-weather-medical .actual_weather .weather_today_main .bottom .bottom_timer {
  font-size: 20px;
  font-weight: 400;
}
.x-weather-medical .actual_weather_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 3px 0;
  filter: brightness(120%);
}
.x-weather-medical .actual_weather_2 .actual_weather_2_inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(246, 127, 0, 0.7);
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 5px;
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col .content span {
  font-size: 20px;
  font-weight: 900;
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col .content p {
  font-size: 9px;
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col.temp {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col.temp:nth-child(2) {
  margin-right: -10px;
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col.temp .content {
  margin-left: 3px;
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col.clouds {
  flex-direction: column;
  justify-content: flex-end;
}
.x-weather-medical .actual_weather_2 .actual_weather_2_col.clouds .content .img_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.x-weather-medical .future_weather_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.x-weather-medical .future_weather_wrapper .future_weather {
  width: calc(48.5%);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}
.x-weather-medical .future_weather_wrapper .future_weather .content {
  padding: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.x-weather-medical .future_weather_wrapper .future_weather .content .content_icon_mobile {
  display: none;
}
.x-weather-medical .future_weather_wrapper .future_weather .content .content_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.x-weather-medical .future_weather_wrapper .future_weather .content .content_pressure,
.x-weather-medical .future_weather_wrapper .future_weather .content .content_wind_speed {
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.x-weather-medical .future_weather_wrapper .future_weather .content .content_temp {
  font-size: 15px;
  font-weight: 700;
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.x-weather-medical .future_weather_wrapper .future_weather .content .content_temp img {
  max-width: 34px;
  max-height: 32px;
  margin-right: 7px;
}
.x-weather-medical .future_weather_wrapper .future_weather .content .content_wind_speed {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.x-weather-medical .future_weather_wrapper .future_weather .content .content_wind_speed::before {
  content: '';
  background-image: url(wind.png);
  background-size: cover;
  width: 22px;
  height: 15px;
  min-width: 22px;
  min-height: 15px;
  margin-right: 5px;
}
@media only screen and (min-width: 769px) {
  .x-weather-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-weather-medical.hide-mobile {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .x-weather-medical .weather_title.weather_title_future {
    flex-direction: row;
    font-size: 14px;
  }
  .x-weather-medical .weather_title.weather_title_future span {
    display: inline-block;
    height: 10px;
    margin: 0 5px;
  }
  .x-weather-medical .weather_title.weather_title_future time {
    font-size: 14px;
    font-weight: 900;
  }
  .x-weather-medical .future_weather_wrapper {
    flex-direction: column;
  }
  .x-weather-medical .future_weather_wrapper .future_weather {
    width: 100%;
    margin-bottom: 3px;
  }
  .x-weather-medical .future_weather_wrapper .future_weather .content {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
  }
  .x-weather-medical .future_weather_wrapper .future_weather .content .content_inner {
    width: auto;
  }
  .x-weather-medical .future_weather_wrapper .future_weather .content .content_inner img {
    display: none;
  }
  .x-weather-medical .future_weather_wrapper .future_weather .content .content_inner .content_temp {
    font-size: 22px;
    margin: 4px 0;
  }
  .x-weather-medical .future_weather_wrapper .future_weather .content .content_icon_mobile {
    display: inline-block;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 950px) {
  .x-weather-medical .actual_weather .weather_today_main .top {
    justify-content: center;
  }
  .x-weather-medical .actual_weather .weather_today_main .top .top_img_wrapper {
    display: none;
  }
  .x-weather-medical .actual_weather .weather_today_main .top .top_content {
    padding: unset;
  }
  .x-weather-medical .actual_weather .weather_today_main .top .top_content .content_temp {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 33px;
  }
  .x-weather-medical .actual_weather .weather_today_main .top .top_content .content_temp img {
    display: inline-block;
    max-height: 28px;
    min-height: 28px;
    margin-right: 6px;
  }
  .x-weather-medical .actual_weather_2 .actual_weather_2_col {
    width: 50%;
  }
  .x-weather-medical .actual_weather_2 .actual_weather_2_col.clouds {
    display: none;
  }
  .x-weather-medical .actual_weather_2 .actual_weather_2_col.temp:nth-child(2) {
    margin-right: unset;
  }
}
@media only screen and (max-width: 890px) {
  .x-weather-medical .weather_today_main .bottom .bottom_timer {
    display: none;
  }
  .x-weather-medical .weather_title.weather_title_today {
    flex-direction: column;
  }
  .x-weather-medical .weather_title.weather_title_today span {
    display: none;
  }
  .x-weather-medical .weather_title.weather_title_today time {
    margin-top: 2px;
  }
  .x-weather-medical .future_weather_wrapper .future_weather .content {
    justify-content: center;
  }
  .x-weather-medical .future_weather_wrapper .future_weather .content .content_inner img {
    display: inline-block;
  }
  .x-weather-medical .future_weather_wrapper .future_weather .content .content_icon_mobile {
    display: none;
  }
}
/* Ukrycie komponentu w trybie mobile lub desktop */
@media only screen and (min-width: 769px) {
  .x-weather-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-weather-medical.hide-mobile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(Roboto-Regular.ttf)}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(Roboto-Bold.ttf)}.x-float_img_text-medical{font-family:'Roboto';color:#000;font-size:17px;font-weight:400;line-height:1.4em;margin:0 20px}.x-float_img_text-medical a[href]{color:inherit;text-decoration:inherit}.x-float_img_text-medical .float_img_text-img{max-width:230px;width:auto;float:left;margin:0 20px 20px 20px}.x-float_img_text-medical .float_img_text-img.float_left{float:left !important}.x-float_img_text-medical .float_img_text-img.float_right{float:right !important}.x-float_img_text-medical .float_img_text-img img{width:100%}.x-float_img_text-medical .float_img_text-list{margin:0 !important}@media only screen and (max-width:500px){.x-float_img_text-medical{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}}@media only screen and (max-width:768px){.x-float_img_text-medical{text-align:center}.x-float_img_text-medical .float_img_text-img{max-width:100%;margin:0 20px 20px 20px;float:none;margin-bottom:10px}.x-float_img_text-medical .float_img_text-text{font-size:16px}.x-float_img_text-medical .float_img_text-list{font-size:16px;margin-left:20px!important}}@media only screen and (min-width:769px){.x-float_img_text-medical.hide-desktop{display:none}}@media only screen and (max-width:768px){.x-float_img_text-medical.hide-mobile{display:none}}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(Roboto-Regular.ttf)}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(Roboto-Bold.ttf)}.x-banner-medical{font-family:'Roboto';background:-webkit-linear-gradient(top, #ebd50c 0%, #795e8e 100%);background:-webkit-gradient(linear, left top, left bottom, from(#ebd50c), to(#795e8e));background:-o-linear-gradient(top, #ebd50c 0%, #795e8e 100%);background:linear-gradient(to bottom, #ebd50c 0%, #795e8e 100%);padding:20px 0;border:1px solid #000;cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:0 20px}.x-banner-medical.sticky{position:-webkit-sticky;position:sticky;top:0}.x-banner-medical a{width:100%}.x-banner-medical a .banner-text{width:100%;color:#ffffff;font-size:30px;font-weight:700;line-height:32px;text-align:center;background-color:#3454b9;padding:15px}.x-banner-medical a .banner-img{max-width:330px;width:100%}.x-banner-medical a .banner-button{max-width:200px;width:100%;text-decoration:none;cursor:pointer;border:none;color:#ffffff;font-size:22px;font-weight:700;line-height:32px;text-align:center;border-radius:10px;background:-webkit-linear-gradient(90deg, #0056ba 0%, #4494f1 100%);background:-webkit-linear-gradient(bottom, #0056ba 0%, #4494f1 100%);background:-webkit-gradient(linear, left bottom, left top, from(#0056ba), to(#4494f1));background:-o-linear-gradient(bottom, #0056ba 0%, #4494f1 100%);background:linear-gradient(0deg, #0056ba 0%, #4494f1 100%);-webkit-box-shadow:0 1px 6.96px 1.04px rgba(0,0,0,0.63);box-shadow:0 1px 6.96px 1.04px rgba(0,0,0,0.63);padding:10px 0;margin:10px auto 0}@media only screen and (min-width:769px){.x-banner-medical.hide-desktop{display:none}}@media only screen and (max-width:768px){.x-banner-medical.hide-mobile{display:none}}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:url(Roboto-Regular.ttf)}@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:url(Roboto-Bold.ttf)}.x-bibliography-medical-sp{max-width:1000px;width:100%;font-family:'Roboto';color:#aaa;font-size:12px;line-height:15px;margin:0 auto;padding:20px;direction:ltr}.x-bibliography-medical-sp .headline{font-weight:700;margin:0}.x-bibliography-medical-sp .list{margin:10px 0 0;padding:0 0 0 20px}@media only screen and (max-width:768px){.x-bibliography-medical-sp{color:#dddee3}.x-bibliography-medical-sp .list{display:none}}@media only screen and (min-width:769px){.bibliography-medical-sp.hide-desktop{display:none}}@media only screen and (max-width:768px){.bibliography-medical-sp.hide-mobile{display:none}}@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(Roboto-Bold.ttf);
}
.x-comment-medical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 2px solid #dedede;
  font-family: 'Roboto';
}
.x-comment-medical .comment-img {
  width: 41px;
  height: 41px;
  margin-right: 15px;
  margin-left: 15px;
}
.x-comment-medical .comment-box {
  width: 100%;
}
.x-comment-medical .comment-box .comment-signature {
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.x-comment-medical .comment-box .comment-signature .comment-date {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}
.x-comment-medical .comment-box .comment-signature .comment-text {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-top: 5px;
}
@media only screen and (max-width: 768px) {
  .x-comment-medical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
  .x-comment-medical .comment-img {
    display: none;
  }
  .x-comment-medical .comment-box .comment-text {
    font-size: 18px;
  }
}
/* Ukrycie komponentu w trybie mobile lub desktop */
@media only screen and (min-width: 769px) {
  .x-comment-medical.hide-desktop {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .x-comment-medical.hide-mobile {
    display: none;
  }
}
