.contentContainer {
    background: #fff!important;
    margin-top:0!important;
    padding-top:0!important;
}
.noheader {
    height:20px!important;
}
header.showlogohead {
    height: 120px!important;
}
header {
    background-color: #fff;
    height: 120px;
    width: 100%;
}
.sectionContainer.articleContent {
    margin-top: 0px!important;
    padding-top: 0px!important;
}
footer {
    background: #fff!important;
}
html, body {
    background: #fff!important;
}
h1 {
    margin-top: 15px;
}
img.wpLogoalt {
    margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 31px!important;
}