/* Code tidied up by ScrapBook */
figure, figcaption { display: block; }
.transition { transition: top 400ms linear 0s; }
.timeTo { font-family: Tahoma,Verdana,Aial,sans-serif; font-size: 28px; line-height: 108%; font-weight: bold; height: 32px; }
.timeTo span { vertical-align: top; }
.timeTo.timeTo-white div { color: black; background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 38%, rgb(204, 204, 204) 100%) repeat scroll 0% 0%; }
.timeTo.timeTo-black div { color: white; background: transparent linear-gradient(to bottom, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%) repeat scroll 0% 0%; }
.timeTo.timeTo-black .timeTo-alert { background: transparent linear-gradient(to bottom, rgb(167, 68, 68) 0%, rgb(63, 0, 0) 67%) repeat scroll 0% 0%; }
.timeTo.timeTo-white .timeTo-alert { background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 35%, rgb(225, 115, 115) 100%) repeat scroll 0% 0%; }
.timeTo figure { display: inline-block; margin: 0px; padding: 0px; }
.timeTo figcaption { text-align: center; line-height: 80%; font-weight: normal; color: rgb(136, 136, 136); }
.timeTo div { position: relative; display: inline-block; width: 25px; height: 30px; border-top: 1px solid silver; border-right: 1px solid silver; border-bottom: 1px solid silver; overflow: hidden; }
.timeTo div.first { border-left: 1px solid silver; }
.timeTo ul { list-style-type: none; margin: 0px; padding: 0px; position: absolute; left: 3px; }
.timeTo ul li { margin: 0px; padding: 0px; list-style: outside none none; }
