.elementor-widget-image {
  text-align: center
}
.elementor-widget-image a {
  display: inline-block
}
.elementor-widget-image a img[src$=".svg"] {
  width: 48px
}
.elementor-widget-image img {
  vertical-align: middle;
  display: inline-block
}
/*! elementor - v3.6.6 - 08-06-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
  background-color: #818a91;
  color: #fff
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
  color: #818a91;
  border: 3px solid;
  background-color: transparent
}
.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
  margin-top: 8px
}
.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
  width: 1em;
  height: 1em
}
.elementor-widget-text-editor .elementor-drop-cap {
  float: left;
  text-align: center;
  line-height: 1;
  font-size: 50px
}
.elementor-widget-text-editor .elementor-drop-cap-letter {
  display: inline-block
}
#elementor-element-23b1722 {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media all and (min-width: 768px) {
  #elementor-element-23b1722 {
    align-content: center;
    align-items: center;
    width: 61.414%;
  }
  #elementor-element-75d41a1 {
    align-content: center;
    align-items: center;
    width: 38.546%;
  }
}
#elementor-container-elementor-column-gap-default {
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
#elementor-container-elementor-column-gap-default1 {
  max-width: 1200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.elementor-button-link {
  text-decoration: none;
}
@media all and (max-width: 767px) {
  #elementor-element-23b1722 {
    width: 50%;
  }
  #elementor-element-75d41a1 {
    width: 50%;
  }
  .elementor-button {
    padding: 12px 14px 12px 14px;
  }
}
.elementor-element-7ade018 {
  width: 100%;
}
.elementor-element-7ade018>.elementor-widget-wrap {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#elementor-widget-wrap-elementor-element-populated {
  padding: 10px;
  text-align: justify;
}
.elementor-element-68f54df {
  width: 100%;
  position: relative;
  padding: 0px 0px 5px 0px;
}
#elementor-heading-title-elementor-size-default {
  color: #666666;
  font-family: "Roboto", Sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
}
#with-US-flag_300p {
  vertical-align: middle;
  display: inline-block;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#elementor-element-c952996 {
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 9;
}
.elementor-1798 .elementor-element.elementor-element-8d8e97d {
  text-align: right;
  color: #555555;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .top-part-right .elementor-widget-wrap.elementor-element-populated {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    height: 100%;
  }
}
.top-part-right .elementor-widget-wrap.elementor-element-populated .elementor-widget:not(:last-child) {
  margin-bottom: 0;
  text-align: right;
  color: #555555;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-widget-container {
  margin: 0px 6px 0px 0px;
  padding: 0px 0px 0px 12px;
}
@media (max-width: 767px) {
  .elementor-element-8d8e97d,
  .elementor-element-a97c46a {
    text-align: center;
    width: 100%;
  }
  .call-before-div,
  .time {
    font-size: 12px;
  }
}
.elementor-element-8d8e97d {
  color: #555555;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-button {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: transparent;
  background-image: linear-gradient(180deg, #49B74E 0%, #388E3C 100%);
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%);
  border-radius: 8px 8px 8px 8px;
  padding: 12px 20px 12px 20px;
}
.elementor-1798 .elementor-element.elementor-element-75d41a1.elementor-column>.elementor-widget-wrap {
  justify-content: center;
}
.elementor-1798 .elementor-element.elementor-element-b49acc5>.elementor-container>.elementor-column>.elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
  align-items: center;
  align-content: center;
}
.call-before-div {
  margin: 0px 6px 0px 0px;
  padding: 0px 0px 0px 12px;
}
.call-before-div-outer {
  padding: 10px 10px 10px 0px;
}
#footer {
  padding-bottom: 60px;
  background: #263238;
}
@media only screen and (max-width: 767px){
  .elementor-element-7ade018{
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }
  #elementor-button-text-bottom{
    font-size:16px;
  }
}