@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../images/yEAJBCsbAF-h7_da9lxoCw.eot)/*tpa=http://people-blogs.org/golubitox-2/fonts/yEAJBCsbAF-h7_da9lxoCw.eot*/;
}
